<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="SomerenDatabase" connectionString="Data source=den1.mssql7.gear.host; Initial Catalog=pdb1920nl20; User=pdb1920nl20; Password=Nd94kG4t5_~L"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
